.div_header{
    background-color: #d58a24;
    color: #fff;
    height: 5vw;
}

header{
    height: 100%;
}

.row{
    width: 100vw;
}

.list_more{
    background-color: #b26c18;
    color: #fff;
    position: fixed;
    height: 100vh;
    width: 13%;
}

.main_content{
    margin-left: 14%; 
}

.img_inicial{
    width: 10px;
}