body{
    font-family: "Lexend Giga", sans-serif;
    font-size: 20px;
}

.info-pessoal{
    width: 30%;
    margin: 2rem auto;
}

h1{
    color: black;
    font-weight: 1000;
}

.tipo-dado{
    font-weight: bold;
}

.dado{
    padding: 10px;
    border: 2px solid #47639C;
    border-radius: 10px;
}