.div_header{
    background-color: #ffc107;
    color: #fff;
    height: 5vw;
    position: fixed;
    width: 100vw;
}

header{
    height: 100%;
}

main{
    height: 100vh;
    background-color: #fefae8;
}

.insert_email{
    border: solid 2px #ffdf1b;
    border-radius: 10px;
}

button{
    border: solid #fff;
    border-radius: 10px;

    background-color: #ffdf1b;
    color: #fff;
}