.div_header{
    background-color: #ffc107;
    color: #fff;
    height: 5vw;
}

header{
    height: 100%;
}

.nav_lateral{
    background-color: #e29400;
    color: #fff;
    height: 90vh;
}

main{
    background-color: #fefae8;
}

.welcome_text, .welcome_text_extra{
    font-size: 24px;
}

.welcome_text_extra{
    color: #e29400;
}

.img_inicial{
    width: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}